
*.qws
*.bak
*.BAK
*.qar
*.qarlog
*.smsg
*~

db/
incremental_db/
output_files/
_output_files/
timing/
hps_isw_handoff/

*.sof
*.pof
*.jic
*.rpd
*.rbf
*.map
*.hex
*.out

*.rpt
*.summary
*.html
*.htm
*.xml
/verilog_code/*.txt
*.log
*.jdi
*.pin
*.eqn
*.done

simulation/
*/simulation/
*/*_sim/
*.vcd
*.wlf
transcript
modelsim.ini

*_inst.v
*_inst.vhd
*_inst.sv
*.cmp
*_generation_script*
*.sopc_builder
*sopc_*
*.ip
